/* Reset and default styles */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Global styles */

.img-study {
    display: flex;
    justify-content: space-around;
}

img {
    width: 425px;
    height: 60vh;
}

/* Headings */
.heading-1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.heading-2 {
    font-size: 15px;
    font-weight: 500;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 3rem;
}

/* Text */
p,
a {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Links */
a {
    font-weight: 600;
    color: black;
    /* To ensure links remain visible in both modes */
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 6px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    border-radius: 6px;
    cursor: pointer;
    outline: 0;
    position: relative;
    vertical-align: middle;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-wrap: break-word;
}

.btn:hover {
    background-color: #000;
    text-decoration: none;
    transition-duration: 0.1s;
}

.btn:disabled {
    background-color: #222;
    color: #ddd;
    cursor: default;
}

.btn:active {
    background-color: #fff;
    color: #000;
    transition: none 0s;
}

.btn:before {
    display: none;
}

.btn::-webkit-details-marker {
    display: none;
}

/* Layout */
.buttons {
    text-align: center;
}

.end {
    margin-bottom: 2rem;
}

/* Corrected dark mode styles */
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode a {
    color: white;
}

.dark-mode .btn {
    background-color: #fff;
    color: black;
}

.dark-mode .btn:hover {
    background-color: #fff;
}

.dark-mode .btn:disabled {
    background-color: #ddd;
    color: #222;
}

.dark-mode .btn:active {
    background-color: #000;
    color: #fff;
}